/* style.css */

main {
  margin: 24px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

#stream {
  height: 60vh;
  border-radius: 10px;
  border: 1px solid #ccc;
  flex-grow: 1;
}

#side {
  margin-left: 20px;
  width: 300px;
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#welcome {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome > .field {
  display: flex;
  flex-direction: column;
}

#welcome > .field > input {
  margin-top: 6px;
  padding: 4px 8px;
}

#welcome > button {
  margin-top: 10px;
  outline: none;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 4px 8px;
}

#welcome > button:hover {
  background-color: #ccc;
  cursor: pointer;
}

#control-bar {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#equipment-list {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.equipment-section {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.equipment-section > .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.equipment-section > .info > h1 {
  font-size: 20px;
}

.equipment-section > .info > p {
  color: #888;
  font-size: 15px;
}

.equipment-section > h1 {
  font-size: 20px;
  color: #555;
}

.equipment-section > button {
  outline: none;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 4px 8px;
}

.equipment-section > button:hover {
  background-color: #ccc;
  cursor: pointer;
}

#status {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
}

#status > h1 {
  font-size: 17px;
}

#status > p {
  margin-top: 6px;
  font-size: 15px;
}

#status > button {
  margin-top: 12px;
  outline: none;
  border: 1px solid #888;
  border-radius: 3px;
  padding: 4px 8px;
}

#status > button:hover {
  background-color: #ccc;
  cursor: pointer;
}

#instruction {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #eee;
}

#instruction > p {
  font-size: 15px;
}
